<div class="filterInfoContainer">
  <div class="filterInfoSubcontainer">
    <div class="filterInfo">
      {{#if supportedImportLevel}}
        {{#if feedImportLevelFour}}
          Está a visualizar <strong>apenas a{{#if pluralOperators}}s{{/if}} feed{{#if pluralOperators}}s{{/if}} que são passíveis de ser roteadas</strong>. Formato do operador, pontos de paragem, linhas de rotas e dados de horários também estão disponíveis nesta{{#if pluralOperators}}s{{/if}} feed{{#if pluralOperators}}s{{/if}}.

        {{else}}
          Está a visualizar <strong>apenas</strong> {{totalOperators}} feed{{#if pluralOperators}}s{{/if}} com dados de
          {{#if feedImportLevelZero}} formato do operador{{/if}}{{#if feedImportLevelOne}}, pontos de paragem, {{#unless feedImportLevelTwo}}e{{/unless}} linhas de rota{{/if}}{{#if feedImportLevelTwo}} e horários{{/if}} disponíve{{#if pluralOperators}}is{{else}}l{{/if}}.
        {{/if}}
      {{else}}
        Está a filtrar por um nível de importação não suportado.
      {{/if}}
    </div>
  </div>
</div>
