<div class="filterInfoContainer">
  <div class="filterInfoSubcontainer">
    <div class="filterInfo">
      {{#if supportedImportLevel}}
        {{#if feedImportLevelFour}}
          Está a visualizar <strong>apenas a{{#if pluralOperators}}s{{/if}} fonte{{#if pluralOperators}}s{{/if}} que são passíveis de ser roteadas</strong>. Forma do operador, pontos de paragem, linhas de rotas e dados de horários também estão disponíveis nestas fontes.

        {{else}}
          Está a visualizar <strong>apenas</strong> {{totalOperators}} fonte{{#if pluralOperators}}s{{/if}} com dados de
          {{#if feedImportLevelZero}} forma do operador{{/if}}{{#if feedImportLevelOne}}, pontos de paragem, {{#unless feedImportLevelTwo}}and{{/unless}} linhas de rota{{/if}}{{#if feedImportLevelTwo}}, e horários{{/if}} disponíve{{#if pluralOperators}}is{{else}}l{{/if}}.
        {{/if}}
      {{else}}
        Está a filtrar por um nível de importação não suportado.
      {{/if}}
    </div>
  </div>
</div>
