{{outlet}}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> tecnologia </h6>
              <li><a href="/feed-registry">Registo de Feeds</a></li>
              <li><a href="/documentation/datastore/">Banco de Dados</a></li>
              <li><a href="/playground">Explorador</a> </li>
              <li><a href="/documentation/onestop-id-scheme/">Esquema ID Onestop</a> </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> legal </h6>
              <li><a href="/an-open-project"> Um Projeto Aberto</a></li>
              <li><a href="/an-open-project/developer-agreement.html">Acordo de Programador da API</a></li>
              <li><a href="/an-open-project/contributor-agreement.html">Acordo de Contribuidor de Dados</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> recursos </h6>
              <li><a href="/news">Notícias</a></li>
              <li><a href="/documentation/">Documentação</a> </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> participar </h6>
              <li><i class="fa fa-smile-o"></i> <a href="/participate">Como Participar</a></li>
              <li> <i class="fa fa-github-alt"></i> <a href="//github.com/glaand/tpp">GitHub</a></li>
              <li> <i class="fa fa-twitter"></i> <a href="//twitter.com/projeto_tpp">Twitter</a> </li>
              <li> <i class="fa fa-envelope-o"></i> <a href="mailto:tpp@gmx.pt">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
