{{outlet}}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> tecnologia </h6>
              <li><a href="/registo-de-feeds">Registo de Feeds</a></li>
              <li><a href="/documentação/banco-de-dados/">Banco de Dados</a></li>
              <li><a href="/explorador">Explorador</a> </li>
              <li><a href="/documentação/esquema-onestop-id/">Esquema Onestop ID</a> </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> legal </h6>
              <li><a href="/um-projeto-aberto"> Um Projeto Aberto</a></li>
              <!--<li><a href="/um-projeto-aberto/acordo-de-programador.html">Acordo de Programador</a></li>-->
              <li><a href="/um-projeto-aberto/acordo-de-contribuidor.html">Acordo de Contribuidor</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> recursos </h6>
              <li><a href="/novidades">Novidades</a></li>
              <li><a href="/documentação/">Documentação</a> </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-6">
            <ul>
              <h6> participar </h6>
              <li><i class="fa fa-smile-o"></i> <a href="/participar/">Como Participar</a></li>
              <li> <i class="fa fa-slack"></i> <a href="https://gitter.im/tpportugal/Geral">Gitter</a> </li>
              <li> <i class="fa fa-github-alt"></i> <a href="//github.com/glaand/tpp">GitHub</a></li>
              <li> <i class="fa fa-twitter"></i> <a href="//twitter.com/projeto_tpp">Twitter</a> </li>
              <li> <i class="fa fa-facebook"></i> <a href="//fb.me/TPPortugal">Facebook</a> </li>
              <li> <i class="fa fa-envelope-o"></i> <a href="mailto:api@tpp.pt">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
