<div class="fullvw-wrapper">
  {{add-feed-tabs header-text="SUCESSO!" submitted=false upload-tab-class="tab" add-operator-tab-class="tab" license-tab-class="tab current" submit-tab-class="tab" submitted=true}}
</div>

<div class="container">
  <div class="add-operator-info">
    <h4>Obrigado por submeter uma fonte no TPP!</h4>
    <p>
      De seguida a equipa TPP irá rever a fonte que submeteu e importá-la no Registo de Fontes. Ocasionalmente existem problemas no processo de importação que poderão causar atrasos ou tornar a fonte imprópria para publicação no TPP.
    </p>
    <p>
     Se providenciou a sua informação de contacto, será contactado quando a sua fonte fizer parte do Registo de Fontes TPP.
    </p>
  </div>
  <div class ="back-to-main text-center">
  {{#link-to 'index'}}
    <div class="animation" id="train">
      <div class="vehicle"></div>
      <div> Voltar ao Registo de Fontes </div>
    </div>
    {{/link-to}}
  </div>
</div>
