<div class="fullvw-wrapper">
  {{add-feed-tabs header-text="SUCESSO!" submitted=false upload-tab-class="tab" add-operator-tab-class="tab" license-tab-class="tab current" submit-tab-class="tab" submitted=true}}
</div>

<div class="container">
  <div class="add-operator-info">
    <h4>Obrigado por submeter uma feed no TPP!</h4>
    <p>
      De seguida a equipa TPP irá rever a feed que submeteu e importá-la no Registo de Feeds. Ocasionalmente existem problemas no processo de importação que poderão causar atrasos ou tornar a feed imprópria para publicação no TPP.
    </p>
    <p>
     Se providenciou a sua informação de contacto, será contactado quando a sua feed fizer parte do Registo de Feeds TPP.
    </p>
  </div>
  <div class ="back-to-main text-center">
  {{#link-to 'index'}}
    <div class="animation" id="train">
      <div class="vehicle"></div>
      <div> Voltar ao Registo de Feeds </div>
    </div>
    {{/link-to}}
  </div>
</div>
