<!--
<div class="checkbox">
  {{#if agreeToTerms}} 
    <label>
      <input type="checkbox" {{action 'agree'}} checked value="" class="pull-right">
        Eu concordo com os termos do serviço.
    </label>
  {{else}}
    <label>
      <input type="checkbox" {{action 'agree'}} value="" class="pull-right">
        Eu concordo com os termos do serviço.
    </label>
  {{/if}}
</div>
-->
